In [1]:
print("hello world")

hello world

In [2]:
input()

12345

'12345'

In [3]:
inp = input()

12345

In [4]:
print(inp)

12345

In [9]:
100/60

1.6666666666666667

In [10]:
100//60

1

In [1]:
100**100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [15]:
100 > 100

False

In [19]:
True and False

False

In [22]:
a = 100
b = 60
a+b

160

In [24]:
counter = 0
while( counter != 10):
    print("hello world")
    counter = counter +1 
    
print("hello world end")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world end

In [28]:
# nCr

#  n!/((r!)*(n-r)!)

fact = 1
counter = 1
while(counter <= 5):
    fact = fact * counter
    counter = counter + 1
    
print(fact)

120

In [29]:
def factorial( kisk_fact_niaklna_hai ):
    counter = 1
    fact = 1
    while(counter <= kisk_fact_niaklna_hai):
        fact = fact*counter
        counter = counter + 1
        
    return fact

In [31]:
# nCr
n = int(input())
r = int(input())
if(n >= r):
    # result nikalna hai
    nCr = factorial(n)/(factorial(r)*factorial(n-r))
    print(nCr)
    
else :
    print(" Sir aapn galat value daal di")

10
20
 Sir aapn galat value daal di

In [33]:
x = input()
type(x)
int(x)

bittoo Aggarwal

str

In [34]:
"""
*
**
***
****
"""

'\n*\n**\n***\n****\n'

In [35]:
# n rows print karani hai

def print_stars(kitne_stars):
	counter = 1
	while(counter <= kitne_stars):
		print("*",end = " ")
		counter = counter + 1

	print()

counter = 1
while (counter <= 5):
	 # row print karanai hai 
	print_stars(counter)
	counter = counter + 1

*
* *
* * *
* * * *
* * * * *

In [36]:
"""
   *
  ***
 *****
*******
"""



# n rows print karani hai

def print_stars(kitne_stars):
	counter = 1
	while(counter <= kitne_stars):
		print("*",end = "")
		counter = counter + 1

	print()

def print_space(num):
	i = 1
	while(i <= num):
		print(" ",end = "")
		i = i+ 1


def odd_or_even( number ):
    if(number %2 ==0):
        print("Even")
    else:
        print("Odd")

In [39]:
student_list = [1,2,3,4,5,6]
student_list[-4]

3

In [43]:
student_name = ["abc",1,2,4,"def",3,4,5,6,"ghi",[1,2,3,4,5]]
student_name[-1][1]

2

In [1]:
student = []
i = 1
while(i <= 5):
    x = input()
    student.append(x)
    i = i + 1
    
print(student)

12
13
45
60
bittoo
['12', '13', '45', '60', 'bittoo']

In [2]:
student.sort()

In [4]:
student.append('1')
student.append('2')
student.sort()
print(student)

['1', '12', '13', '2', '45', '60', 'bittoo']

In [ ]:
# http://cs231n.github.io/python-numpy-tutorial/